{{ define "gallery.layout" }}
    {{ template "gallery.content" .}}
    {{ template "footer" .}}
{{ end }}

{{ define "gallery.content"}}
<!DOCTYPE html>
<html lang="en">
<head>

	<title>CAR RENTAL</title>

  	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
  	<meta name="description" content="">
    <link rel="icon" type="image/png" href="../assets/img/CRicon.jpg"/>
	
	<link rel="stylesheet" href="../assets/css/bootstrap.min.css">

  	<link rel="stylesheet" href="../assets/css/magnific-popup.css">

	<link rel="stylesheet" href="../assets/css/animate.min.css">
	<link rel="stylesheet" href="../assets/css/font-awesome.min.css">

  	<link rel="stylesheet" href="../assets/css/nivo-lightbox.css">
  	<link rel="stylesheet" href="../assets/css/nivo_themes/default/default.css">

  	<link rel="stylesheet" href="../assets/css/hover-min.css">
  	<link rel="stylesheet" href="../assets/css/flexslider.css">

	<link rel="stylesheet" href="../assets/css/style2.css">

  	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<!-- Preloader section -->
<div class="preloader">
	<div class="sk-spinner sk-spinner-pulse"></div>
</div>

<!-- Navigation section -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">CARENTAL</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/index" class="smoothScroll">Home</a></li>
        <li><a href="/index#feature" class="smoothScroll">Features</a></li>
        <li><a href="/gallery" class="smoothScroll">Cars</a></li>
        <li><a href="/index#contact" class="smoothScroll">Contact Us</a></li>
        <li><a href="/login" class="smoothScroll">Login</a></li>
        
      </ul>
    </div>

  </div>
</div>
<!-- Gallery section -->
<section id="gallery" class="parallax-section">
  <div class="container">
    <div class="row">

      <div class="col-md-12">

       <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
         <div class="wow fadeInUp section-title" data-wow-delay="0.3s" style="margin-left: 50%;">
            <h2>Car Gallery</h2>
            <h4>Reliable cars with fair prices</h4>
        </div>
      </div>
        
          <!-- iso section -->
          <div class="iso-section wow fadeInUp" data-wow-delay="0.6s">

            		<ul class="filter-wrapper clearfix">
                        <li><a href="#" data-filter="*" class="selected opc-main-bg">All</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".breakfast">Economy</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".pizza">SUV</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".lunch">Premium</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".dinner">Luxury</a></li>
                    </ul>

                    <!-- iso box section -->
                    <div class="iso-box-section wow fadeInUp" data-wow-delay="0.9s">
                      <div class="iso-box-wrapper col4-iso-box">

                        <div class="iso-box breakfast pizza lunch col-md-4 col-sm-6">
                          <div class="gallery-thumb">
                            <a href="../assets/img/gallery-img1.jpg" data-lightbox-gallery="food-gallery">
                              <img src="../assets/img/gallery-img1.jpg" class="fluid-img" alt="Gallery">
                                <div class="gallery-overlay">
                                  <div class="gallery-item">
                                    <h3>Car1</h3>
                                    <h4>15$</h4>
                                    
                                    <p>fuel<br>Red<br>hi</p>
                                    <div class="join-team">
                                      <a href="/rent" class="prosper-btn menu-scroll-trigge">Rent</a>
                                    </div>
                                  
                                    
                                  </div>
                                </div>
                            </a>
                          </div>
                          <h3>Lorem One</h3>
                        </div>

                        <div class="iso-box breakfast lunch dinner col-md-4 col-sm-6">
                          <div class="gallery-thumb">
                            <a href="../assets/img/gallery-img2.jpg" data-lightbox-gallery="food-gallery">
                              <img src="../assets/img/gallery-img2.jpg" class="fluid-img" alt="Gallery">
                                <div class="gallery-overlay">
                                  <div class="gallery-item">
                                      <h3>Car1</h3>
                                      <h4>15$</h4>
                                      <p>fuel<br>Red<br>hi</p>
                                    <div class="join-team">
                                      <a href="/rent" class="prosper-btn menu-scroll-trigge">Rent</a>
                                     </div> 
                                  </div>
                                </div>
                            </a>
                          </div>
                          <h3>Lorem ipsum two</h3>
                        </div>

                        <div class="iso-box dinner col-md-4 col-sm-6">
                          <div class="gallery-thumb">
                            <a href="../assets/img/gallery-img3.jpg" data-lightbox-gallery="food-gallery">
                              <img src="../assets/img/gallery-img3.jpg" class="fluid-img" alt="Gallery">
                                <div class="gallery-overlay">
                                  <div class="gallery-item">
                                      <h3>Car1</h3>
                                      <h4>15$</h4>
                                      <p>fuel<br>Red<br>hi</p>
                                    <div class="join-team">
                                      <a href="/rent" class="prosper-btn menu-scroll-trigge">Rent</a>
                                </div>
                                    </div>
                                </div>

                                
                            </a>
                          </div>
                          <h3>Third Lorem ipsum</h3>
                        </div>

                        <div class="iso-box breakfast col-md-4 col-sm-6">
                          <div class="gallery-thumb">
                            <a href="../assets/img/gallery-img4.jpg" data-lightbox-gallery="food-gallery">
                              <img src="../assets/img/gallery-img4.jpg" class="fluid-img" alt="Gallery">
                                <div class="gallery-overlay">
                                  <div class="gallery-item">
                                      <h3>Car1</h3>
                                      <h4>15$</h4>
                                      <p>fuel<br>Red<br>hi</p>
                                    <div class="join-team">
                                      <a href="/rent" class="prosper-btn menu-scroll-trigge">Rent</a>
                                  </div>
                                  </div>
                                </div>
                            </a>
                          </div>
                          <h3>Lorem ipsum fourth</h3>
                        </div>

                        <div class="iso-box lunch col-md-4 col-sm-6">
                          <div class="gallery-thumb">
                            <a href="../assets/img/gallery-img5.jpg" data-lightbox-gallery="food-gallery">
                              <img src="../assets/img/gallery-img5.jpg" class="fluid-img" alt="Gallery">
                                <div class="gallery-overlay">
                                  <div class="gallery-item">
                                      <h3>Car1</h3>
                                      <h4>15$</h4>
                                      <p>fuel<br>Red<br>hi</p>
                                    <div class="join-team">
                                      <a href="/rent" class="prosper-btn menu-scroll-trigge">Rent</a>
                                  </div>
                                  </div>
                                </div>
                            </a>
                          </div>
                          <h3>Fifth Lorem ipsum</h3>
                        </div>

                        <div class="iso-box pizza lunch col-md-4 col-sm-6">
                          <div class="gallery-thumb">
                            <a href="../assets/img/gallery-img6.jpg" data-lightbox-gallery="food-gallery">
                              <img src="../assets/img/gallery-img6.jpg" class="fluid-img" alt="Gallery">
                                <div class="gallery-overlay">
                                  <div class="gallery-item">
                                      <h3>Car1</h3>
                                      <h4>15$</h4>
                                      <p>fuel<br>Red<br>hi</p>
                                    <div class="join-team">
                                      <a href="/rent" class="prosper-btn menu-scroll-trigge">Rent</a>
                                  </div>
                                  </div>
                                </div>
                            </a>
                          </div>
                          <h3>Sixth Lorem ipsum</h3>
                        </div>

                       </div>
                    </div>

          </div>

      </div>

    </div>
  </div>
</section>

<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>

<script src="../assets/js/jquery.magnific-popup.min.js"></script>

<script src="../assets/js/jquery.sticky.js"></script>
<script src="../assets/js/jquery.backstretch.min.js"></script>

<script src="../assets/js/isotope.js"></script>
<script src="../assets/js/imagesloaded.min.js"></script>
<script src="../assets/js/nivo-lightbox.min.js"></script>

<script src="../assets/js/jquery.flexslider-min.js"></script>

<script src="../assets/js/jquery.parallax.js"></script>
<script src="../assets/js/smoothscroll.js"></script>
<script src="../assets/js/wow.min.js"></script>

<script src="../assets/js/custom1.js"></script>

</body>
</html>
{{end}}