{{ define "pay.layout" }}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Rent</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../ui/assets/img/CRicon.jpg" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../ui/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../ui/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../ui/assets/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../ui/assets/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../ui/assets/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../ui/assets/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../ui/assets/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../ui/assets/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../ui/assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="../ui/assets/css/main.css">
	<!--===============================================================================================-->
</head>

<body>
	<div class="limiter" style="background-color: #4869ff;">

		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<img class="img" src="../ui/assets/img/CRLogo.png" alt="" width="400" height="200">
				<form class="login100-form validate-form">

					{{if .CSRF}}
					<input type="hidden" name="_csrf" value="{{ .CSRF }}" />
					{{else}}
					<input type="hidden" name="_csrf" value='{{.Values.Get "_csrf" }}' />
					{{end}}

					
					<div class="wrap-input100 validate-input m-b-23">
						<span class="label-input100">Pay <span>{{.price}}</span> to <span>{{.Accountnum}}</span>?</span>
						<b>
							<output name="coast"></output> 
						</b>

					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>

							<button class="login100-form-btn">
								MAKE PAYMENT
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>
	<!--===============================================================================================-->
	<script src="../ui/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="../ui/assets/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="../ui/assets/vendor/bootstrap/js/popper.js"></script>
	<script src="../ui/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="../ui/assets/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="../ui/assets/vendor/daterangepicker/moment.min.js"></script>
	<script src="../ui/assets/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="../ui/assets/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="../ui/assets/js/main1.js"></script>
</body>

</html>
{{end}}