{{define "signup.layout"}}	

<!DOCTYPE html>
<html lang="en">

<head>
	<title>Sign Up</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../assets/img/CRicon.jpg" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assets/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assets/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assets/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assets/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assets/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assets/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/main.css">


	<!--===============================================================================================-->
</head>

<body>
	<div class="limiter" style="background-color: #4869ff;">

		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<img class="img" src="../assets/img/CRLogo.png" alt="" width="400" height="200">
				<form class="login100-form validate-form" action="#" method="POST">

					<span class="login100-form-title p-b-49">
						Welcome To <span style="color: rgb(248,104,21);">CARENTAL</span>

					</span>
					<span class="login100-form-title p-b-49">
						Register Here!
					</span>
					{{if .CSRF}}
					<input type="hidden" name="_csrf" value="{{ .CSRF }}" />
					{{else}}
					<input type="hidden" name="_csrf" value='{{.Values.Get "_csrf" }}' />
					{{end}}

					<div class="wrap-input100 validate-input m-b-23" data-validate="Firstname is required">
						<span class="label-input100">First Name</span>
						<input class="input100" type="text" name="FirstName" placeholder="Type your First Name" 
						required="required " value='{{ .Values.Get "FirstName" }}'>
						<span class="focus-input100" data-symbol="&#xf206;"></span>
						<span>
							{{with .VErrors.Get "FirstName" }}
								<label class="text-danger">{{ . }}</label>
							{{end}}
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate="Lastname is required">
						<span class="label-input100">Last Name</span>
						<input class="input100" type="text" name="LastName" placeholder="Type your Last Name"
						required="required " value='{{ .Values.Get "LastName" }}'>
						<span class="focus-input100" data-symbol="&#xf206;"></span>
						<span>
							{{with .VErrors.Get "LastName" }}
								<label class="text-danger">{{ . }}</label>
							{{end}}
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate="Phone is required">
						<span class="label-input100">Phone Number</span>
						<input class="input100" type="text" name="phoneNumber" placeholder="Type your Phone Number"
						required="required " size="10" value='{{ .Values.Get "phoneNumber" }}'>
						<span class="focus-input100" data-symbol="&#xf095;"></span>
						<span>
							{{with .VErrors.Get "phoneNumber" }}
								<label class="text-danger">{{ . }}</label>
							{{end}}
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate="city is required">
						<span class="label-input100">City</span>
						<input class="input100" type="address" name="city" placeholder="Type your city"
						required="required " value='{{ .Values.Get "city" }}'>
						<span class="focus-input100" data-symbol="&#xf5eb;"></span>
						<span>
							{{with .VErrors.Get "city" }}
								<label class="text-danger">{{ . }}</label>
							{{end}}
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate="Address is required">
						<span class="label-input100">Address</span>
						<input class="input100" type="text" name="Address" placeholder="Type your Address"
						required="required " value='{{ .Values.Get "Address" }}'>
						<span class="focus-input100" data-symbol="&#xf015;"></span>
						<span>
							{{with .VErrors.Get "Address" }}
								<label class="text-danger">{{ . }}</label>
							{{end}}
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate="Account Number is required">
						<span class="label-input100">Address</span>
						<input class="input100" type="text" name="Account" placeholder="Type your Account number"
						required="required" value='{{ .Values.Get "Account" }}'>
						<span class="focus-input100" data-symbol="&#xf015;"></span>
						<span>
							{{with .VErrors.Get "Account" }}
								<label class="text-danger">{{ . }}</label>
							{{end}}
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate="Email is required">
						<span class="label-input100">Email</span>
						<input class="input100" type="email" name="email" placeholder="Type your Email"
						required="required " value='{{ .Values.Get "email" }}'>
						<span class="focus-input100" data-symbol="&#xf0e0;"></span>
						<span>
							{{with .VErrors.Get "email" }}
								<label class="text-danger">{{ . }}</label>
							{{end}}
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<span class="label-input100">Password</span>
						<input id="pass" class="input100" type="password" name="pass" placeholder="Type your password"
						required="required ">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
						<span>
							{{with .VErrors.Get "pass" }}
								<label class="text-danger">{{ . }}</label>
							{{end}}
						</span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>

							<button class="login100-form-btn" onsubmit="return validate_pass(this);">
								SUBMIT

							</button>
						</div>
					</div>
				</form>

				<div class="flex-col-c p-t-155">
				</div>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script src="../assets/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="../assets/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="../assets/vendor/bootstrap/js/popper.js"></script>
	<script src="../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="../assets/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="../assets/vendor/daterangepicker/moment.min.js"></script>
	<script src="../assets/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="../assets/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="../assets/js/main1.js"></script>

</body>

</html>
{{end}}
