<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#3e454c">

    <title>Car Rental Managment System</title>
    <link rel="stylesheet" href="../templates/css/font-awesome.min.css">
    <link rel="stylesheet" href="../templates/css/bootstrap.min.css">
    <link rel="stylesheet" href="../templates/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="../templates/css/bootstrap-social.css">
    <link rel="stylesheet" href="../templates/css/bootstrap-select.css">
    <link rel="stylesheet" href="../templates/css/fileinput.min.css">
    <link rel="stylesheet" href="../templates/css/awesome-bootstrap-checkbox.css">
    <link rel="stylesheet" href="../templates/css/style.css">
</head>

<body>
        {{template "Header.html"}}
        <div class="content-wrapper">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">

                        <h2 class="page-title">Manage Reservations</h2>

                        <!-- Zero Configuration Table -->
                        <div class="panel panel-default">
                            <div class="panel-heading">Informations</div>
                            <div class="panel-body">
                                <table id="zctb" class="display table table-striped table-bordered table-hover"
                                    cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Email</th>
                                            <th>Vehicle</th>
                                            <th>From Date</th>
                                            <th>Due Date</th>

                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>


                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td> <a href="#"
                                                    style="background-color: #555555 !important;"
                                                    class="btn btn-xs uppercase" data-toggle="modal"
                                                    data-dismiss="modal">Return</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Loading Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!--<script src="js/jquery.dataTables.min.js"></script> -->
    <script src="js/dataTables.bootstrap.min.js"></script>
    <script src="js/Chart.min.js"></script>
    <script src="js/fileinput.js"></script>
    <script src="js/chartData.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
